<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    
<bean id = "airtel" class = "com.bridgelabz.ioc.Airtel"></bean>
<bean id = "vodaphone" class = "com.bridgelabz.ioc.Vodaphone"></bean>
<bean id = "sim" class = "com.bridgelabz.ioc.Jio"></bean>

<bean id = "student1" class = "com.bridgelabz.di.Student">
	<property name = "studentName" value = "Julekha M" />
	<property name = "id" value = "1" />
</bean>

<bean id = "student2" class = "com.bridgelabz.di.Student">
	<property name = "studentName" value = "Rupali" />
	<property name = "id" value = "2" />
</bean>
</beans>